/* vista de home */
body { 
  margin: 0;
  background-image: url("https://i.imgur.com/Px5Oz7j.jpg");
  background-position-x: center;
}

#view-home {
  width: 80%;
  margin: auto;
  margin-top: 24%;
 }

 #home {
  background: linear-gradient(#E5C0D2, #C2E6FF);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-notesH {
  width: 24%;
}

.logoH {
  width: 60%;
}

#eslogan {
  width: 78%;
  margin-bottom: 8%;
}

#btn-google {
  width: 65%;
  padding: 9px 5px 7px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 23px;
  font-weight: bold;
  border: solid 1px rgb(230, 230, 90);
  background-color: rgb(230, 230, 90);
  border-radius: 20px;
}

/*Vista de Wall*/
#outset{
  background-color: #D0BFD9;
  display: flex;
  justify-content: space-around;
}

.image-notesW {
  width: 13%;
}

.logoW {
  width: 30%;
}

.add-note {
  width: 8%;
  padding: 25px;
}

.sign-off {
  width: 7%;
  padding: 25px;
}

#user-profile {
  display: flex;
  margin-top: 20px;
}
.image-profile {
  width: 10%;
  border-radius: 50%;
  padding: 12px;
}

#user-data {
  font-family: arial;
  font-size: 12px;
}