/* vista de home */
body { 
  margin: 0;
  background-image: url("https://i.imgur.com/Px5Oz7j.jpg");
  background-repeat: no-repeat;
}

#view-home {
  width: 80%;
  margin: auto;
  margin-top: 24%;
 }

 #home {
  background: linear-gradient(#E5C0D2, #C2E6FF);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-notes {
  width: 24%;
}

.logo {
  width: 60%;
}

#eslogan {
  width: 78%;
  margin-bottom: 8%;
}

#btn-google {
  width: 65%;
  padding: 9px 5px 7px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 23px;
  font-weight: bold;
  border: solid 1px rgb(230, 230, 90);
  background-color: rgb(230, 230, 90);
  border-radius: 20px;
}

/*Vista de Wall*/
#user-profile {
  display: flex;
  font-family: arial;
  font-size: 14px;
}